@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: fill;
  }

.container{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.8);
    background-size: cover;
    overflow-x: hidden;
  }
header {
      background-size: cover;
      background-position: center;
      height: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #FFF;
}
  
nav {
    background-color: #333;
}
    
  nav ul {
      display: flex;
      justify-content: center;
      padding: 20px 0;
  }
    
  nav li {
      margin: 0 20px;
  }
    
  nav a {
      color: #FFF;
      font-size: 25px;
      padding: 10px 20px;
  }
  
a{
    color: white;
    text-decoration: none;
}
  
.navbutton {
    padding: 11px 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
}

.pic{
  height: auto;
  width:  302px;
}

.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #FFF;
}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #FFF;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #FFF;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: 100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: auto;
    }
  }